html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
}
.page-container{
    display: flex;
    min-height: 100vh;
}

.nav-container{
    display: block;
}

.nav-bar {
    align-self: stretch;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
    width: 220px;
    color: white;
}

.nav-bar-hidden{
    
}

.nav-bar ul{
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    
}

.nav-bar li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-title{
    color: #00F7BC;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: none;
}

.menu-bar{
    width: 35px;
    height: 3px;
    background-color:#00F7BC;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
}

.branding-loggedout{
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    font-weight: bold;
    padding-left: 5px;
}

.branding-loggedout a{
    margin-top: 5px;
    margin-bottom: 5px;
}

.branding-loggedout img{
    margin-right: 5px;
    margin-top: 5px;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.main-content{
    flex-grow: 1;
    max-width: 100%;
}


.landing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.landing-header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 15px;
    
}

.landing-header p{
    font-size: 18px;
}

.landing-header img{
    margin-bottom: -8px;
}

.landing-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.auth-links {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.auth-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.auth-links a:hover{
    color: #00F7BC;
}

.auth-link-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 140px;
    height: 60px;
    background-color: #00F7BC;
    /* margin-right: 50px;
    margin-left: 50px; */
    margin-top: 10px;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.auth-link-div:hover{
    background-color: black;
}

.demo-link-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 140px;
    height: 60px;
    background-color: black;
    color:  #00F7BC;
    text-align: center;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.demo-link-div:hover{
    color: black;
    background-color:  #00F7BC;
}

.demo-link-div p{
    margin: 0;
}

.page-header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.page-header h1{
    font-size: 48px;
}

.page-header-loggedout{
    display: flex;
    justify-content: center;

}

.page-header-loggedout h1{
    font-size: 48px;
}

.review-options-container{
    display: flex;
    justify-content: center;
}

.review-option{
    padding: 5px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.deck-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px
}

.deck-card {
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%; */
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid black;
    margin: 20px 20px;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.deck-card:hover{
    background-color: #00F7BC;
}

.deck-card-main-text {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-self: center;

}

.deck-card-main-text p{
    text-align: center;
}


.deck-card-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.bottom-left{
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    font-weight: 100;
}

.bottom-right{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    font-weight: 100;
}

.bottom-right a{
    display: inline-block;
}

.bottom-left a{
    display: inline-block;
}


.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
    border: 5px solid black;
    
}


.card-links{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;

}

.card-link-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid black;
    font-weight: bold;
}

.card-ranking-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid black;
    font-weight: bold;
}

.card-hard{
    background-color: #FE1355;
}

.card-hard:hover{
    color: #FE1355;
    background-color: black;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-medium{
    background-color: #FFE700;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-medium:hover{
    color: #FFE700;
    background-color: black;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-easy{
    background-color: #00F7BC;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-easy:hover{
    color: #00F7BC;
    background-color: black;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-links a{
    text-decoration: none;
    color: black;
}

.card-flip{
    background-color: black;
    color:  #00F7BC;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-flip:hover{
    color: black;
    background-color:  #00F7BC;

}

.card-next{
    background-color: #00F7BC;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.card-next:hover{
    color: #00F7BC;
    background-color: black;
}

.edit-container{
    display: flex;
    justify-content: center;
    width: 100%
}

.edit-container-loggedout{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    padding-left: 10px;
    padding-right: 10px;

}

.edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-links-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.edit-links-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.edit-links-item:hover{
    color: white;
    background-color: black;
}

.edit-links-item p{
    margin: 0;
}

.edit-form button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border: 5px solid black;
    font-weight: bold;
    background-color: #00F7BC;
    transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.edit-form button:hover{
    color:#00F7BC;
    background-color: black;
}

.auth-form-item{
    max-width: 250px;
    width: 250px;
}

.auth-form-item p{
    margin-top: 5px;
    margin-bottom: 5px;

}

.auth-form-item label{
    font-weight: bold;
}

.auth-form-item input{
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.auth-form-item textarea{
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}


.edit-form div textarea{
    width: 250px;
}

.form-button-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.signup-text{
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

footer p{
    font-size: 12px;
    color: gray;
}

@media (max-width: 580px){
    .page-container{
        flex-direction: column;
        min-height: 100vh;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-bar{
        /* height: 100%; */
        min-height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .nav-bar-hidden{
        max-height: 50px;
    }

    /* .nav-bar-show{
        min-height: 100%;
    } */

    .menu {
        display: block;
        margin-top: 16px;
        margin-right: 5px;
    }

    .page-header h1{
        font-size: 32px;

    }
    
    .card-container{
        margin-top: 40px;
    }

    .card {
        width: 310px;
        min-height: 150px;
    }

    .card-links {
        width: 310px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .landing-header{
        margin-bottom: 10px;
    }
}

@media (max-width: 430px){
    .landing-header h1{
        font-size: 64px;
    }

    .landing-header img{
        width: 35px;
    }

    .auth-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}

@media (max-width: 350px){
    .landing-header h1{
        font-size: 50px;
    }

}