{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lightning Cards {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>


    <div class="page-container">
        {% block nav %}
        {% endblock nav %}

        <div class="main-container">
            <div class="main-content">
                {% block content %}

                {% endblock %}
            </div>

            <footer>
                <p>Lightning cards is a project by <a href="https://www.brennantymrak.com">Brennan Tymrak</a></p>
            </footer>
        </div>
       
    </div>

{% block script %}
{% endblock script %}
</body>
</html>