<nav class="nav-bar nav-bar-hidden">
    <div class="nav-container">
        <ul>
            <li><a href="{% url 'home' %}"><span class="nav-title">Lightning Cards</span></a></li>
            <li>{{request.user}}</li>
            <li><a href="{% url 'deck_list' %}">Decks</a></li>
            <li><a href="{% url 'new_deck' %}">Create Deck</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
        <div class="menu">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
    </div>
</nav>

<script>

    let menu = document.querySelector('.menu')
    let navBar = document.querySelector('nav')

    menu.addEventListener('click', () => {
        navBar.classList.toggle('nav-bar-hidden')
    })

</script>