{% extends "_base.html" %}

{% block title %}Decks{% endblock title %}

{% block nav %}
{% include "_navbar.html" %}
{% endblock nav %}

{% block content %}

<div class="page-header">
    <h1>Decks</h1>
</div>

<div class="edit-links-nav">
    <a href="{% url 'new_deck' %}">
        <div class="edit-links-item">
        <p>Add Deck</p>
        </div>
    </a>
</div>

<div class="deck-list">
{% for deck in deck_list %}


    <a class="deck-card-link" href="{% url 'deck_detail' slug=deck.slug %}">
        <div class="deck-card"><div class="deck-card-main-text"><p>{{deck}}</p></div></div>
    </a>
    

{% endfor %}
</div>



{% endblock content %}