{% extends "_base.html" %}


{% block title %}Create a Deck{% endblock title %}

{% block nav %}
{% include "_navbar.html" %}
{% endblock nav %}

{% block content %}

<div class="page-header">
    <h1>Create a new deck of cards</h1>
</div>

<div class="edit-container">
    <form class="edit-form" method="POST">
        {% csrf_token %}

        <p>{{form.non_field_errors}}</p>

        <div class="auth-form-item">
            <p>{{form.name.label_tag}}</p>
            <p>{{form.name}}</p>
        </div>
        <div class="form-button-container">
        <button type="submit">Create</button>
        </div>
    </form>
</div>

{% endblock content %}