{% extends '_base.html' %}

{% block title %}{{deck}}{% endblock title %}

{% block nav %}
{% include "_navbar.html" %}
{% endblock nav %}

{% block content %}
<div class="page-header">
    <h1>{{deck.name}}</h1>
</div>

<div class="edit-links-nav">
    <a href="{% url 'new_card' deck_slug=deck.slug %}">
        <div class="edit-links-item">
        <p>Add Card</p>
        </div>
    </a>

    <a href="{% url 'delete_deck' slug=deck.slug %}">
        <div class="edit-links-item">
        <p>Delete Deck</p>
        </div>
    </a>
</div>

<div class="deck-list">
    {% for card in cards %}
    
        <a class="deck-card-link" href="{% url 'practice_front' deck_slug=deck.slug pk=card.pk%}">
            <div class="deck-card">
                <div class="deck-card-main-text"><p>{{card}}</p></div>

            </div>
        </a>
    
    
    {% endfor %}
</div>
    
{% endblock content %}