{% extends "_base.html" %}


{% block title %}Practice{% endblock title %}

{% block nav %}
{% include "_navbar.html" %}
{% endblock nav %}

{% block content %}

<div class="page-header">
    <h1>{{deck}}</h1>
</div>

<div class="edit-links-nav">
    <a href="{% url 'update_card' deck_slug=deck_slug  pk=card.pk %}">
        <div class="edit-links-item">
        <p>Edit Card</p>
        </div>
    </a>

    <a href="{% url 'delete_card' deck_slug=deck_slug  pk=card.pk%}">
        <div class="edit-links-item">
        <p>Delete Card</p>
        </div>
    </a>
</div>

<div class="card-container">
    <div class="card">
        <h2>{{card.back}}</h2>
    </div>
    
    <div class="card-links">
        <a href="{% url 'practice_front' deck_slug=deck_slug pk=card.pk %}">
            <div class="card-link-nav card-flip">Flip</div>
        </a>

        <a href="{% url 'practice_front' deck_slug=deck_slug pk=next_pk%}">
            <div class="card-link-nav card-next">Next Card</div>
        </a>
        
    </div>
</div>

{% endblock content %}