{% extends "_base.html" %}

{% block title %}Practice{% endblock title %}

{% block nav %}
{% include "_navbar.html" %}
{% endblock nav %}

{% block content %}

<div class="page-header">
    <h1>{{deck}}</h1>
</div>

<div class="edit-links-nav">
    <a href="{% url 'update_card' username=user.username deck_slug=deck_slug  pk=card.pk %}">
        <div class="edit-links-item">
        <p>Edit Card</p>
        </div>
    </a>

    <a href="{% url 'delete_card' username=user.username deck_slug=deck_slug  pk=card.pk%}">
        <div class="edit-links-item">
        <p>Delete Card</p>
        </div>
    </a>
</div>

<div class="card-container">
    <div class="card">
        <h2 id="card-content">{{card}}</h2>
    </div>
    
    <div class="card-links">
        <a id="flip-card" href="{% url 'practice_back' username=user.username deck_slug=deck_slug pk=card.pk %}">
            <div class="card-link-nav card-flip">Flip</div>
        </a>

        <a id="next-card" href="{% url 'practice_front' username=user.username deck_slug=deck_slug pk=next_pk%}">
            <div class="card-link-nav card-next">Next Card</div>
        </a>
        
    </div>
</div>



<script>
    let content = document.querySelector('#card-content')
    
    let nextCardLink = document.querySelector('#next-card')
    
    let flipLink = document.querySelector('#flip-card')    

    let flipUrl = '{% url "practice_back_data" username=user.username deck_slug=deck_slug pk=card.pk %}'

    let nextUrl = '{% url "practice_front_data" username=user.username deck_slug=deck_slug pk=next_pk %}'

    function flipCard(e){
        console.log('Made it to flipCard')
        e.preventDefault();
    
        fetch(flipUrl, {
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
        })
        .then(response => {
            return response.json()
        })
        .then(data=> {
            console.log(data)
            content.textContent = data.text
            if(data.side == 'front'){
                flipUrl =  `/lightning-cards/${data.user}/${data.deck}/${data.card_pk}/back/`
            }
            else{
                flipUrl = `/lightning-cards/${data.user}/${data.deck}/${data.card_pk}/front/`
            }

        })
    }


    function getNextCard(e){
        console.log('Made it to getNextCard')
        e.preventDefault();
    
        fetch(nextUrl, {
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
        })
        .then(response => {
            return response.json()
        })
        .then(data=> {
            console.log(data)
            content.textContent = data.text
            nextUrl = `/lightning-cards/${data.user}/${data.deck}/${data.next_pk}/front/`
            flipUrl = `/lightning-cards/${data.user}/${data.deck}/${data.card_pk}/back/`
        })
    }
    
    flipLink.addEventListener("click", flipCard)
    nextCardLink.addEventListener("click", getNextCard)
        

    </script>

{% endblock content %}

